input[type=checkbox] {
    display: none;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: rgba(0, 0, 0, 0);
    display: block;
    border-radius: 100px;
    position: relative;
    border: 1px solid #ffff;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    right: 3px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background: #0B0E66;
}

input:checked+label:after {
    right: calc(100% - 2px);
    transform: translateX(100%);
}